.mainWrapper {
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Courier New", ui-monospace;
    font-weight: 500;
    font-size: 2em;
    background-color: black;
    color: white;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

html, body {
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}